:root {
  --image-background: url("https://drive.google.com/uc?export=view&id=1-f7ADQ8-lNyArUf62hGX8doozIJAzTa1");
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: var(--image-background);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  transition: 2500ms;
}

.card img {
  padding: 20px;
  max-height: 300px;
  object-fit: contain;
}

.card img[alt] {
  color: #ddd;
}

.card-subtitle {
  color: #ddd;
}

button span {
  display: contents;
}

@media (max-width: 800px) {
  button span {
    display: none;
  }
}
